/* Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #777;
  --background-light: #f4f4f4;
  --background-dark: #f0f0f0;
}

/* General Styles */
.background-layout {
  background-color: var(--background-light);
  padding: 20px;
  border-radius: 10px;
  max-height: 500px; /* Adjust this value as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}


.centered-links {
  text-align: center;
  margin-top: 200px;
}

/* Comments Section */
.comment-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  width: auto;
  background-color: var(--background-dark);
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
}

.comment-box {
  width: 97%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.comment-input {
  flex: 1;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.comment-button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.comments-section {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Links Section */
.link {
  display: inline-block;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  width: 200px;
}

.link img {
  max-width: 100%;
  height: auto;
}

.link p {
  margin-top: 10px;
  font-size: 16px;
  color: var(--secondary-color);
}

.link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
