.background-layout {
    background-color: #f4f4f4; /* Background color for the layout */
    padding: 20px; /* Add padding for spacing around the links */
    border-radius: 10px; /* Add rounded corners */
  }

.comment-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f0; /* Set a background color for the comment box */
    padding: 20px; /* Add some padding for better spacing */
    text-align: center; /* Center the elements horizontally */
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Put space between the textarea and button */
  }
  
  .comment-input {
    flex: 1; /* Allow the textarea to grow and fill available space */
    width: 100%; /* Full width */
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Add some spacing between the textarea and button */
  }
  
  .comment-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* White text color */
    border-radius: 4px;
    cursor: pointer;
  }

  .centered-links {
    text-align: center;
    margin-top: 200px !important; /* Use !important to override conflicting styles */
  }
  
  .link {
    display: inline-block;
    margin: 100px; /* Adjust margin for spacing between links */
    text-align: center;
    text-decoration: none;
    color: #333;
    width: 200px; /* Adjust the width of each link container */
  }
  
  .link img {
    max-width: 100%;
    height: auto;
  }
  
  .link p {
    margin-top: 10px; /* Adjust margin for spacing between image and description */
    font-size: 16px;
    color: #777;
  }
  
  .link:hover {
    text-decoration: underline;
    color: #007bff;
  }