/* Variables */
:root {
  --primary-color: #149c6c;
  --secondary-color: #777;
  --background-light: #f4f4f4;
  --background-dark: #f0f0f0;
}

/* General Styles */
.background-layout {
  background-color: #ffffff;
  padding: 20px;
  height: 400;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  max-height: 500px; /* Adjust this value as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}


h1, h3 {
  color: white;
  font-weight: bold;
}


/* CSS for fixed image size */
.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 

}

.image-container img {
  width: 300px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  
}

/* Comments Section */
.comment-container {
  position: fixed; /* Change from "absolute" to "fixed" */
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  background-color: var(--background-dark);
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
}

.comment-box {
  width: 97%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: flex-end; /* Align the comment box to the bottom of its container */
}

.comment-input {
  flex: 1;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.comment-button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.comments-section {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Links Section */
.link {
  display: inline-block;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  width: 200px;
}

.link img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.link p {
  margin-top: 10px;
  font-size: 16px;
  color: var(--secondary-color);
}

.link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
